body {
  font-family: "Prompt", sans-serif;
  background-color: #fff3f8;
  color: #333;
  text-align: center;
}
header .container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 2.25rem;
}
header .container h2 {
  color: #e45a92;
  font-size: 2em;
  margin-bottom: 20px;
}
header .container #emptytext {
  color: #e45a92;
  font-size: 1.4em;
  font-weight: 600;
  padding: 20px 30px;
  width: fit-content;
  margin: 30px auto;
}
header .container #fav_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  margin-top: 2rem;
  gap: 2rem;
  justify-items: center; 
}
header .container .item .button-group .remove {
  border: none;
  outline: none;
  background-color: #ff6b6b;
  color: #fff;
  font-size: var(--primary-size);
  font-weight: 500;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  flex: 1;
  text-align: center; 
}
header .container .item .button-group .remove:hover {
    background-color: #e25757;
}
header .container .img {
  display: flex;
  justify-content: center;
}
header .container .img .logo {
  width: 500px;
  height: 250px;
}