* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  font-family: sans-serif;
}
.button-container {
  display: flex;
  gap: 50px;
  z-index: 1;
}
.btn {
  padding: 100px 100px;
  font-size: 16vh;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
  background-color: rgba(255, 255, 255, 0.7);
  color: white;
  text-decoration: none;
  backdrop-filter: blur(5px);
  background-color: transparent;
}
.btn span {
  display: inline-block;
  font-size: 4rem;
}
.btn2 {
  padding: 100px 100px;
  font-size: 16vh;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
  background-color: rgb(44, 148, 91);
  color: white;
  text-decoration: none;
  backdrop-filter: blur(5px);
  background-color: transparent;
}
.btn2 span {
  display: inline-block;
  font-size: 4rem;
}
.btn:hover {
  background-color: rgb(85, 85, 206);
  transform: scale(1.1);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}
.btn2:hover {
  background-color: rgb(44, 148, 91);
  transform: scale(1.1);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}
.balck {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: blur(1vh);
  transform: scale(1.05);
}